.main-content {
  padding: 1.25rem;
  margin-inline-start: 1rem;
  background-color: #ffe6f2;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.top-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}

.btn-create {
  background: #b1467b;
  cursor: pointer;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0px 0.3rem 0.5rem rgba(255, 102, 179, 0.3);
}

.btn-create:hover {
  background: #ff4da6;
  transform: translateY(-0.15rem);
}

.no-notes {
  margin-top: 1rem;
  padding: 1rem;
  background: #ffd1e8;
  border-radius: 0.65rem;
  font-weight: 500;
  text-align: center;
  color: #b30059;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem;
}
.note-card {
  background: #fff0f7;
  border: 0.125rem solid #ffb3d9;
  border-radius: 0.875rem;
  padding: 1rem;
  min-height: 7.5rem;
  box-shadow: 0rem 0.3rem 0.6rem rgba(255, 153, 204, 0.25);
  transition: 0.3s ease;
  cursor: pointer;
}

.note-card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0rem 0.625rem 1rem rgba(255, 153, 204, 0.4);
}

.note-card h3 {
  margin-bottom: 0.625rem;
  color: #cc0077;
}

.note-card p {
  color: #660033;
  font-size: 0.9rem;
}

.btn-create-category {
  padding: 0.7rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #ffb6c1;
  color: #7a003c;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.filter-panel {
  width: 16rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1.2rem rgba(255, 105, 180, 0.15);
}

.filter-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.2rem;
}

.filter-panel h2 {
  grid-column: 1 / -1;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #b03060;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.95rem;
  margin-bottom: 0.6rem;
  color: #444;
  cursor: pointer;
}
