* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffe6f2;
  color: black;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  font-size: 0.8rem;
  position: relative;
}

.contain {
  padding-inline: 14%;
}
