.header {
  width: 100%;
  height: 70px;
  background-color: rgb(243, 204, 211);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.btn {
  padding: 8px 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.btn-home {
  background: transparent;
  border: none;
  padding: 8px 14px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(88, 45, 53);
  cursor: pointer;
}
.btn:hover {
  background: #eee;
  transform: translateY(-1px);
}

.btn-home:hover {
  color: rgb(202, 42, 96);
}
